@{
    ViewData["Title"] = "Add Table Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form">
    <form class="table" action="AddTable">
        <label for="Number">Table Number: </label>
        <input type="number" name="Number" />
        
        <label for="Location">Table Location: </label>
        <input type="text" name="Location" />

        <button type="submit">Submit</button>
    </form>
</div>