@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<POS.Models.ApplicationUser>
@using System.Security.Claims

<h2>Click yourself to log in</h2>
<hr />
@foreach (var user in Model)
{
    <div>
        <h3>@Html.ActionLink(user.UserName, "Login", "Account", new { id = user.Id })</h3>
    </div>
}

<div class="adminPortal">
    @Html.ActionLink("Admin Portal", "Index", "Account")
</div>